
  body {
    background-color: #af0462;
    background-image: url('buble.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .form-container {
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    animation: fadeIn 1s ease-in-out;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    animation: slideIn 1s ease-in-out;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  input[type="submit"] {
    background-color: #ee0f82;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  input[type="submit"]:hover {
    background-color: #c90b67;
  }


